<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864531663573-s1ae3lcvp12lqtuph6ngllbqu0qkshte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864531663573-s1ae3lcvp12lqtuph6ngllbqu0qkshte</string>
	<key>API_KEY</key>
	<string>AIzaSyCBvS6JSUkAlT2Yz1VhQJAOREXK-b6jrmo</string>
	<key>GCM_SENDER_ID</key>
	<string>864531663573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlexSaporito.CarFight</string>
	<key>PROJECT_ID</key>
	<string>carfight-c990a</string>
	<key>STORAGE_BUCKET</key>
	<string>carfight-c990a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
    <key>NSAppTransportSecurity</key>
    <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
    </dict>
	<key>GOOGLE_APP_ID</key>
	<string>1:864531663573:ios:eee271b5063160fec6305c</string>
	<key>DATABASE_URL</key>
	<string>http://carfight-c990a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>